#Alternative silent printing profile, uncomment the line in printer.cfg to activate
[printer]
max_velocity: 130
max_accel: 400
max_accel_to_decel: 200
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5

[include /home/pi/klipper_config/config/steppers/steppers-stealth.cfg]
[include /home/pi/klipper_config/config/drivers/TMC_2209_stealth.cfg]

[bed_mesh]
speed: 80
horizontal_move_z: 2

[screws_tilt_adjust]
speed: 80